{% extends 'base.html.twig' %} {% block title %}Accueil{% endblock %} {% block stylesheets %} {{ parent() }} {{ encore_entry_link_tags('wild_index') }} {% endblock %} {% block body %}
<div class="search">

</div>

<h1 class="mt-5">Liste des Séries </h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut quo non reiciendis numquam et saepe quibusdam? Modi dolores ab vel, quo necessitatibus aliquid ad sunt itaque beatae ea accusantium iusto cumque fugit, rem iure inventore est. Quia voluptates
    atque adipisci similique, ex aliquam, consequuntur quisquam laborum eveniet quidem expedita earum?</p>
<h2 class="mt-5">Liste des Séries </h2>

{% endblock %}