{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %} 
    {{ parent() }}
{% endblock %} 

{% block body %}
    <h1 class="mt-5">Liste des Séries</h1>
{% endblock %}
