{% extends 'base.html.twig' %} {% block title %}Détail Série{% endblock %} {% block stylesheets %} {{ parent() }} {{ encore_entry_link_tags('wild_show') }} {% endblock %} {% block body %}

<!-- Contenu du site -->
<div class="content">

    <!-- Recherche et Filtre -->
    <section class="search">

        <!-- Search -->
        <div class="search_filtre row ml-2">

            <!-- Filtre -->
            <div class="dropdown show ">
                <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filtre
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <form action="" class="form_filtre">

                        <!-- Filtre par Année -->
                        <label for="">Par Année </label>
                        <select name="" id="">
                            <option value="">2019</option>
                            <option value="">2018</option>
                            <option value="">2017</option>
                        </select>


                        <!-- Filtre par Pays -->
                        <label for="">Par Pays &nbsp</label>
                        <select name="" id="">
                            <option value="">France</option>
                            <option value="">Angleterre</option>
                            <option value="">Espagne</option>
                        </select>

                        <button class="btn btn-success filtre mt-2">Filtrer</button>
                    </form>
                </div>
            </div>

            <!-- Search -->
            <form action="" class="form_search w-75 px-0">
                <input type="search" placeholder="Search" class="form-control w-50 d-inline-block">
                <button class="btn btn-danger">Search</button>
            </form>
        </div>
        <!-- Fin search -->
    </section>

    <!-- Titre -->
    <section class="titre">
        <h2>SERIE : {{ titre }}</h2>
    </section>

    <!-- Détail de la Série -->
    <section class="serie">
        <div class="show p-sm-4 p-1 mx-sm-4 ">
            <div class="synopsis text-white">
                <h1>Synopsis</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem soluta, repellendus doloribus ipsam enim sequi voluptatibus delectus dolor ut facere fuga iure et tempore maiores vero nemo quo aliquam accusamus quisquam. Numquam
                    aspernatur incidunt voluptatibus unde. Ratione et ex, voluptate corporis dolores similique beatae quam, ab iure, id quidem numquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem soluta, repellendus doloribus
                    ipsam enim sequi voluptatibus delectus dolor ut facere fuga iure et tempore maiores vero nemo quo aliquam accusamus quisquam. Numquam aspernatur incidunt volu
                </p>
            </div>
            <!-- Fin synopsis -->
            <div class="img_info row m-0">
                <div class="img col-xl-6 p-2 bg-light">
                    <img class="card-img img-responsive" src="https://larubriquedelou.fr/wp-content/uploads/2019/04/cover-article21-649x365.jpg" alt="Card image">
                </div>
                <div class="info col-xl-6 m-auto">
                    <div class="titre_info row my-4 ml-xl-4 ">
                        <div class="type col-sm-3">
                            <h2>TITRE</h2>
                        </div>
                        <div class="description col-sm-9 text-sm-left text-center">
                            <h2>DESCRIPTION</h2>
                        </div>
                    </div>
                    <div class="annee_info row mb-4 ml-xl-4">
                        <div class="type col-sm-3">
                            <h2>ANNEE</h2>
                        </div>
                        <div class="description col-sm-9 text-sm-left text-center">
                            <h2>2015</h2>
                        </div>
                    </div>
                    <div class="genre_info row mb-4 ml-xl-4">
                        <div class="type col-sm-3">
                            <h2>GENRE</h2>
                        </div>
                        <div class="description col-sm-9 text-sm-left text-center">
                            <h2>AVENTURE</h2>
                        </div>
                    </div>
                    <div class="acteur_info row mb-4 ml-xl-4">
                        <div class="type col-sm-3">
                            <h2>ACTEURS</h2>
                        </div>
                        <div class="description col-sm-9 text-sm-left text-center">
                            <h2>JOHN</h2>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin img_info -->
        </div>
        <!-- Fin show -->
    </section>
    <!-- Fin section serie -->



    <!-- Footer -->
    <footer>
        <div class="row">
            <!-- Wild -->
            <div class="col-md-6 mt-4">
                <ul class="text-center m-0 p-0">
                    <li>
                        <a href="#!">Wild Series</a>
                    </li>
                </ul>
            </div>

            <!-- Contact -->
            <div class="col-md-6 mt-4 ">
                <ul class="text-center m-0 p-0">
                    <li>
                        <a href="#!">Contactez-nous</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Grid row -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 text-light">© 2019 Copyright:
            <a href=""> Wild-Series.com</a>
        </div>

    </footer>
    <!-- Footer -->
</div>
<!-- Fin content -->



{% endblock %}