@import "~bootstrap/scss/bootstrap";
@import"./assets/css/navbar.scss";
//Couleur de fond du site
$col_body:#6ECCCB;
html {
    font-family: 'Roboto', Arial, Verdana;
    position: relative;
}

body {
    background-color: $col_body;
    margin-top: 80px;
}