                // Taille de texte responsive
                @mixin taille_text($h1:2.5rem, $h2:2rem, $p:1.5rem, $reduc:1, $ecran:1140px) {
                    @media ( max-width: $ecran) {
                        h1 {
                            font-size: $h1*$reduc;
                            color: red !important;
                        }
                        h2 {
                            font-size: $h2*$reduc;
                        }
                        p {
                            font-size: $p*$reduc;
                        }
                    }
                }
                
                body {
                    @include taille_text($ecran: 3000px);
                    @include taille_text($reduc: 0.8, $ecran: 960px);
                }