$col_navbar:#46403A;
$col_rojo:#B85C5C;
$size_menu:1.5rem;
//Barre de navigation
.navbar {
    font-size: $size_menu;
    padding: 0 auto;
}

.navbar-brand {
    font-size: 1.8rem;
}

ul {
    margin-left: 20px !important;
}

ul .nav-item:hover {
    background-color: $col_rojo;
}

.nav-item a {
    color: white !important;
}

.nav-item {
    text-align: center;
}

.nav-link {
    display: inline-block;
}

//Sous menu Catégories
.dropdown-menu button {
    font-size: $size_menu;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

@media(max-width:768px) {
    .navbar-collapse .navbar-nav {
        margin: auto 0 !important;
    }
}

//Sous menu Acteurs
.acteurs {
    a.dropdown-item {
        font-size: $size_menu !important;
        color: $col_rojo !important;
        text-align: center;
    }
    a.dropdown-item:hover {
        background-color: $col_rojo;
        color: white !important;
    }
    div.dropdown-menu {
        height: 200px;
        overflow-y: scroll;
    }
    .form-inline input[placeholder] {
        text-align: center;
    }
    //Input search
    input.form-control {
        font-size: $size_menu;
        width: 100%;
    }
}

//Menu de Langue
select#langage {
    option {
        font-size: $size_menu*0.8;
    }
}