<nav class="navbar navbar-expand-md navbar-dark bg-dark py-0 mb-5 fixed-top">

    <a class="navbar-brand" href="{{ path('app_index') }}">Wild Series</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto w-100 justify-content-between">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('wild_index') }}" {% if current_menu=="Accueil" %} style="border-bottom:solid 7px #B85C5C;padding-bottom:1px;" {% endif %}>Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Catégories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Acteurs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Favoris</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Déconnexion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Photo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Langue</a>
            </li>
        </ul>
    </div>
</nav>