<nav class="navbar navbar-expand-md navbar-dark bg-dark py-0 mb-5 px-0">
    <!-- WILD SERIES -->
    <a class="navbar-brand ml-2" href="{{ path('app_index') }}">Wild Series</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-4 w-100 justify-content-between">
            <!-- Accueil -->
            <li class="nav-item">
                <a class="nav-link" href="{{ path('wild_index') }}" {% if current_menu=="Accueil" %} style="border-bottom:solid 7px #B85C5C;padding-bottom:1px;" {% endif %}>Accueil</a>
            </li>
            <!-- Catégories -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Catégories
                </a>
                <!-- Sous Menu Catégories -->
                <div class="dropdown-menu px-4" aria-labelledby="navbarDropdown">
                    {% for i in 1..6 %}
                    <button type="button" class="btn btn-outline-danger"> <a  href="#"></a>Action{{ i }}</button> {% endfor %}
                </div>
            </li>
            <!-- Acteurs -->
            <li class="acteurs nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Acteurs
                </a>
                <!-- Sous Menu Acteurs -->
                <div class="dropdown-menu px-4" aria-labelledby="navbarDropdown">
                    <form class="form-inline">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                    </form>
                    {% for j in 1..10 %}
                    <a class="dropdown-item" href="#">Acteur{{ j }}</a> {% endfor %}
                </div>
            </li>

            <!-- Favoris -->
            <li class="nav-item">
                <a class="nav-link" href="#">Favoris</a>
            </li>
            <!-- Log in -->
            <li class="nav-item">
                <a class="nav-link" href="#">Déconnexion</a>
            </li>
            <!-- logo login -->
            <li class="nav-item">
                <a class="nav-link" href="#">Photo</a>
            </li>
            <!-- Langue -->
            <li class="nav-item">
                <a class="nav-link" href="#">Langue</a>
            </li>
        </ul>
    </div>
</nav>