@import"./assets/css/font-size.scss";
$col_rojo:#B85C5C;
$size_menu:1.5rem;
$mrg_title:2.5rem;
//Recherche et Filtre 
section.search {
    //Recherche
    .form_search {
        button {
            margin-bottom: 6px !important;
            margin-left: -5px!important;
            font-size: $size_menu;
        }
        input {
            font-size: $size_menu;
        }
    }
    //Filtre et sous-menu
    .dropdown a {
        font-size: $size_menu;
        color: $col_rojo;
        background-color: white;
    }
    .dropdown-menu {
        background-color: #ecf0f1 !important;
        width: 18rem !important;
        padding: 10px;
        select,
        label {
            font-size: $size_menu;
        }
        button {
            width: 7rem;
        }
    }
    //Responsive petite taille
    @media(max-width: 420px) {
        .dropdown,
        .form_search {
            margin: 0 auto !important;
            width: 75%;
        }
        .dropdown-toggle {
            width: 100%;
        }
        .form_search button {
            width: 50%;
        }
        .dropdown-menu {
            padding: 10px;
            width: 13rem !important;
        }
        .search_filtre {
            margin-left: 0px !important;
        }
    }
}

//Titre
section.titre {
    h2 {
        font-weight: bold;
        color: #2c3e50;
        margin: $mrg_title 0;
        border-bottom: 7px solid white;
    }
    @media(max-width:420px) {
        text-align: center;
    }
}

//Cards
section.saison {
    .show {
        background-color: #2c3e50;
        margin-bottom: 4rem;
        padding: 4rem;
        border-radius: 10px;
        .img_info {
            .img {
                box-shadow: 5px 5px 5px black !important;
                height: 100%;
            }
            .info {
                overflow: scroll;
            }
        }
        .description {
            h2 span {
                font-weight: bold !important;
                font-style: italic;
            }
            h2 a {
                color: white;
                text-decoration: underline;
                font-style: italic;
                font-weight: bold !important;
            }
            hr {
                color: white;
                background-color: white;
            }
        }
        .img_info {
            .info {
                table {
                    background-color: white !important;
                    caption {
                        caption-side: top !important;
                    }
                }
                .retour a {
                    font-size: $size_menu;
                    font-weight: bold;
                    &:hover {
                        color: #17a2b8 !important;
                        background-color: white !important;
                    }
                }
            }
        }
    }
}

//Footer
footer {
    background-color: black;
    margin: 0 -15px;
    a:link {
        text-decoration: none;
    }
    a {
        color: white !important;
        margin: 0 auto;
    }
}